body {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: black;
  width: 100vw;
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

.header {
  padding: 65px 160px 65px 65%;
}
.header button {
  border-radius: 12px;
  width: 200px;
  height: 50px;
}
.header .dark-header {
  color: #f0ac52;
  background: #000000;
  border: 1px solid #f0ac52;
  color: #f0ac52;
  margin-right: 16px;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.header .light-header {
  color: #000000;
  background: #f0ac52;
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.hero-header-pos {
  background: url("./img/back-hero.png") center/cover no-repeat;
  height: 100vh;
}

.hero {
  padding-left: 160px;
  padding-bottom: 320px;
  width: 1000px;
}
.hero h1 {
  color: #fff;
  font-family: Montserrat;
  font-size: 70px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.hero h1 span {
  color: #f0ac52;
}
.hero p {
  color: #fff;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.their {
  padding: 64px 160px;
}
.their button {
  margin: 64px 0;
  width: 320px;
}
.their h2 {
  color: #fff;
  font-family: Montserrat;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.their h2 span {
  color: #f0ac52;
}
.their ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 0;
  margin: 0;
}
.their ul li {
  width: 500px;
  height: 320px;
  border-radius: 20px;
  border: 1px solid #f0ac52;
  background: linear-gradient(180deg, rgba(239, 189, 83, 0.31) -11.48%, rgba(239, 189, 83, 0.09) 81.21%, rgba(14, 11, 5, 0.01) 173.89%);
}
.their ul li div {
  padding: 36px 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.their ul li div h4 {
  color: #fff;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.099px;
  letter-spacing: 0.78px;
}
.their ul li div img {
  height: 128px;
  width: 128px;
}
.their .center-their {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.back-content {
  background: url("./img/back-content.jpg");
}

.buttonLikeHero {
  color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  display: inline-flex;
  padding: 29px 101px;
  align-items: flex-end;
  border-radius: 10px;
  background: var(--gold, linear-gradient(90deg, #eebb52 14.03%, #f2ed70 52.47%, #eebb52 90.13%));
}

.partners {
  padding: 60px 120px;
}
.partners h1 {
  color: #fff;
  font-family: Montserrat;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.partners ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
}
.partners ul li {
  width: 220px;
  height: 100px;
}

.contacts-last {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 80px 0;
}
.contacts-last ul {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}
.contacts-last ul li button {
  display: flex;
  padding: 29px 140px;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
  border-radius: 10px;
  background: var(--gold, linear-gradient(90deg, #eebb52 14.03%, #f2ed70 52.47%, #eebb52 90.13%));
  color: #000;
  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.contacts-last h2 {
  color: #fff;
  font-family: Montserrat;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.content-last {
  padding: 60px 160px;
  background-image: url("/src/img/back_last_content.png");
  height: 650px;
}
.content-last h2 {
  color: #fff;
  font-family: Montserrat;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 75px;
}
.content-last p {
  position: relative;
  top: 160px;
  left: 150px;
  width: 700px;
  background-color: #fff;
  color: #000;
  padding: 50px;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%; /* 23.2px */
}/*# sourceMappingURL=index.css.map */